---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [51]:
import numpy
import pandas

In [91]:
data = pandas.read_csv("D:/coursera/Introduction to Data Science in python/Basic Data Processing with Pandas/olympics.csv", index_col=0, skiprows=1)
#description = data.describe()
#print(tabulate(description, headers="keys", tablefmt="orgtbl"))
data.head()

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [92]:
data.tail()

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [93]:
print((data["Combined total"].sum() - data.loc["Totals"]["Combined total"]) * 2)
print((data["Combined total"].sum() - data.loc["Totals"]["Combined total"]))
print(data.loc["Totals"]["Combined total"])
print(data["Combined total"].sum())

35158
17579
17579
35158

In [94]:
#Fixing the Column Names
#First the unicode is removed from the column names and the columns are given more human-readable names. 
new_columns = ("summer_participations",
       "summer_gold",
       "summer_silver",
       "summer_bronze",
       "summer_total",
       "winter_participations",
       "winter_gold",
       "winter_silver",
       "winter_bronze",
       "winter_total",
       "total_participations",
       "total_gold",
       "total_silver",
       "total_bronze",
       "total_combined")

assert len(new_columns) == len(data.columns)

column_remap = dict(zip(data.columns, new_columns))
print(column_remap)
print(column_remap['01 !'])

{'№ Summer': 'summer_participations', '01 !': 'summer_gold', '02 !': 'summer_silver', '03 !': 'summer_bronze', 'Total': 'summer_total', '№ Winter': 'winter_participations', '01 !.1': 'winter_gold', '02 !.1': 'winter_silver', '03 !.1': 'winter_bronze', 'Total.1': 'winter_total', '№ Games': 'total_participations', '01 !.2': 'total_gold', '02 !.2': 'total_silver', '03 !.2': 'total_bronze', 'Combined total': 'total_combined'}
summer_gold

In [95]:
if data.columns[0] != "summer_participations":
    for column in data.columns:
        #print(column)
        data.rename(columns={column:column_remap[column]}, inplace=True)
        

data.head()

,summer_participations,summer_gold,summer_silver,summer_bronze,summer_total,winter_participations,winter_gold,winter_silver,winter_bronze,winter_total,total_participations,total_gold,total_silver,total_bronze,total_combined
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [96]:
# Changing the Indices
# split the index by '('
names_ids = data.index.str.split('\s\(')

data.index = names_ids.str[0]
data['ID'] = names_ids.str[1].str[:3]

data = data.drop('Totals')

data.head()

,summer_participations,summer_gold,summer_silver,summer_bronze,summer_total,winter_participations,winter_gold,winter_silver,winter_bronze,winter_total,total_participations,total_gold,total_silver,total_bronze,total_combined,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [98]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    
    return data.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero().name

'Afghanistan'

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [100]:
def answer_one():
    """
    Returns
    -------

    Str: name of the country with the most summer gold medals
    """
    return data.summer_gold.argmax()

answer_one()

135

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [101]:
def answer_two():
    """
    Returns
    -------

    Str: country with most difference between summer and winter gold
    """
    return (data.summer_gold - data.winter_gold).abs().argmax()

answer_two()

135

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [107]:
def answer_three():
    """
    find country with the biggest difference between the
    summer and winter gold counts relative to total gold metal count
    if they have at least one gold medal in both summer and winter

    Returns
    -------

    str: country with biggest summer/winter gold differe
    """
    elegible = data[(data.summer_gold>=1) & (data.winter_gold>=1)]
    ratios = (elegible.summer_gold - elegible.winter_gold).abs()/elegible.total_gold
    return ratios.argmax()

answer_three()

4

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

*This function should return a Series named `Points` of length 146*

In [118]:
def answer_four():
    
    """
    Creates weighted points based on medals
    * Gold: 3 points
    * Silver: 2 points
    * Bronze: 1 point
    
    Returns
    -------

    Series: column of points for each NOC
    """
    points = numpy.zeros(len(data))
    points += data.total_gold * 3
    points += data.total_silver * 2
    points += data.total_bronze
    return pandas.Series(points, index=data.index)

answer_four()
#assert points.loc["United States"] == 5684

Afghanistan                           2.0
Algeria                              27.0
Argentina                           130.0
Armenia                              16.0
Australasia                          22.0
                                    ...
Yugoslavia                          171.0
Independent Olympic Participants      4.0
Zambia                                3.0
Zimbabwe                             18.0
Mixed team                           38.0
Name: total_gold, Length: 146, dtype: float64

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2015/co-est2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [119]:
census_df = pd.read_csv('census.csv')
census_df.head()

NameError: name 'pd' is not defined

In [8]:
def answer_five():
    new_df = census_df[census_df['SUMLEV'] == 50]

    return new_df.groupby('STNAME').count()['SUMLEV'].idxmax()



answer_five()

'Texas'

### Question 6
**Only looking at the three most populous counties for each state**, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [9]:
def answer_six():
    new_df = census_df[census_df['SUMLEV'] == 50]

    most_populous_counties = new_df.sort_values('CENSUS2010POP', ascending=False).groupby('STNAME').head(3)

    return most_populous_counties.groupby('STNAME').sum().sort_values('CENSUS2010POP', ascending=False).head(3).index.tolist()



answer_six()

['California', 'Texas', 'Illinois']

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [11]:
def answer_seven():

    new_df = census_df[census_df['SUMLEV'] == 50][[6, 9, 10, 11, 12, 13, 14]]

    new_df["MaxDiff"] = abs(new_df.max(axis=1) - new_df.min(axis=1))

    most_change = new_df.sort_values(by=["MaxDiff"], ascending = False)

    return most_change.iloc[0][0]

answer_seven()

'Harris County'

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [12]:
def answer_eight():

    counties = census_df[census_df['SUMLEV'] == 50]

    region = counties[(counties['REGION'] == 1) | (counties['REGION'] == 2)]

    washington = region[region['CTYNAME'].str.startswith("Washington")]

    grew = washington[washington['POPESTIMATE2015'] > washington['POPESTIMATE2014']]

    return grew[['STNAME', 'CTYNAME']]



answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County